:root {
    dark: ;
}


.row{
    font-size: larger;
    font-weight: bold;
    background-color: rgb(130, 189, 240);
}

.col{
    margin: 10px;
}

.list-group{
    background-color: white;
    margin: 5px;
    font-size: 15px;
    font-weight: 150;
    outline: auto;
}

.dark {
    background-color: ;
}

.weekschedule {
    /* fill */
}

.day {
    /* fill */
}

.workstats {
    /* fill */
}

@media screen and (px) {

}