:root {
  
}

h2{
    font-size: 100px;
}
a{
    font-size: larger;
    
}

header{
    background-color: rgb(185, 215, 240);
}

.btn{
    margin: .5%;
    outline: auto;
    outline-color: black;
    outline-style: solid;
    outline-width: .07cm;
}


.row{
    font-size: larger;
    font-weight: bold;
    background-color: rgb(130, 189, 240);
}

.col{
    margin: 10px;
}

.list-group{
    background-color: white;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    min-height: 200px;
    outline:auto;
    outline-style: solid;
}

.list-group-item{
    min-height: 100px;
    font-weight:300;
    font-weight: bold;
}

/* .dark {
    background-color: 
} */

.weekschedule {
    /* fill */
}

.day {
    /* fill */
}

.workstats {
    /* fill */
}

@media screen and (px) {

}