h2 {
    font-size: 100px;
}

a {
    font-size: larger;
}

body {
    overflow-x: hidden; 
    min-height: 900px;
    background-color: rgb(185, 215, 240) !important; 
}

header {
    background-color: rgb(185, 215, 240);
}

.workstats {
    display: block;
    border-radius: 2rem;
    height: 30px;
}

.weekday {
    min-height: 1000px;
}

.btn {
    margin: .5%;
    outline: auto;
    outline-color: black;
    outline-style: solid;
    outline-width: .07cm;
}

.row {
    font-size: larger;
    font-weight: bold;
    background-color: rgb(130, 189, 240);
}

.col {
    margin: 10px;
}

.list-group {
    background-color: white;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    min-height: 200px;
    outline: auto;
    outline-style: solid;
}

.list-group-item {
    min-height: 100px;
    font-weight: 300;
    font-weight: bold;
}

.days-column {
    width: 40%;
}

.Employee-Names-Stats {
    width: 40%;
}

.task-columns {
    width: 15%;
}

#assignInstructions {
    text-align: center;
}

#workstats-container-2 {
    width: 94%;
    height: 200px;
    margin: 50px;
    align-self: center;
}

#weekly-stats-sheet {
    outline: auto;
    outline-style: inset;
}

#weekday {
    padding-top: 10px;
    padding-bottom: 1%;
    margin: 0px;
}